

.titulo {

    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

.escopocontato{

    background-color: black;
    
}



.row{

    margin-top: 50px;
}


.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 60.333333%;
  }

.featurette-image{

    border: 3px solid;
    border-color: darkslateblue;
    border-radius: 10px;
}

.featurette-heading{
     
    font-size: xx-large;
}


