.titulo {

    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
    
}

.rodape{

    margin-top: 10%;
}

.titulo1, .titulo2, .titulo3,.subtitulo1,.subtitulo2,.subtitulo3,.T_telefone,.T_email,.T_formas,.T_siga {

    text-shadow: 0.1em 0.1em 0.2em black;

   
}

.rodape{
    margin-left: 5px;
    margin-right: 5px;
}

.row{

    margin-top: 50px;
}


.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 60.333333%;
  }

.featurette-image{

    border: 3px solid;
    border-color: darkslateblue;
    border-radius: 10px;
}

.featurette-heading{
     
    font-size: xx-large;
}


