@font-face{
    font-family: Anton-Regular;
    src: local(Anton-Regular), url(https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap);
}

.titulo {

    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

.rodape{

    widows: 600px; 
    height: 300px;
    background-color: darkslateblue;
    bottom:0;
    width:100%;

}

.titulo1, .titulo2, .titulo3,.subtitulo1,.subtitulo2,.subtitulo3 {

    text-shadow: 0.1em 0.1em 0.2em black;
}

.row{

    margin-top: 50px;
}


.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 60.333333%;
  }

.featurette-image{

    border: 3px solid;
    border-color: darkslateblue;
    border-radius: 10px;
}

.featurette-heading{
     
    font-size: xx-large;
}


